.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #d2006d, #50215f);
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section.logo img{
    max-width: 120px;
    margin: 5px 0;
}

.footer-section h3 {
    font-size: 20px;
    font-weight: bold;
    color: #faf8f6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #faf8f6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e0e0e0;
}

.footer-bottom p {
    margin: 0;
}